{% extends "hr/base.html" %}
{% load dict_filters %}
{% load django_bootstrap5 %}
{% block title %}
    {% if object %}
        Изменение
    {% else %}
        Создание
    {% endif %}
    компетенции
{% endblock %}
{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center">
                    {% if object %}
                        Изменение
                    {% else %}
                        Создание
                    {% endif %}
                    компетенции
                </h3>
                {% bootstrap_messages %}
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form layout='vertical' %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
