{% extends "hr/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dropdown mb-3">
                    <button class="btn btn-success dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fa fa-add"></i> Добавить миссию
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'mission-create' %}?type=t">Лекторий</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'mission-create' %}?type=r">Рекрутинг</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'mission-create' %}?type=c">Квест</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'mission-create' %}?type=q">Симулятор</a>
                        </li>
                    </ul>
                </div>
                <select class="form-select" aria-label="" onchange="updateQueryParam(this)">
                    {{ object_list }}
                    {% if not request.GET.rank %}<option selected>Выберите ранг</option>{% endif %}
                    {% for rank in ranks %}
                        <option value="{{ rank.id }}"
                                {% if request.GET.rank == rank.id|stringformat:"s" %}selected{% endif %}>
                            {{ rank }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="cy"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function updateQueryParam(select) {
          const url = new URL(window.location.href);
          url.searchParams.set('rank', select.value);
          window.location.href = url.toString();
        }
    </script>
    <script>
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

            boxSelectionEnabled: false, // Разрешаем выделение области
            autounselectify: false, // Разрешаем выделение элементов
            userPanningEnabled: false, // ОТКЛЮЧАЕМ перетаскивание графа
            userZoomingEnabled: false, // Оставляем zoom

            elements: {
              nodes: [
                  {% for m in object_list %}
                      { data: { id: '{{ m.id }}', label: '{{ m.name }}' }, grabbable: false },
                  {% endfor %}
              ],
              edges: [
                  {% for parent_m in object_list %}
                      {% for tree in parent_m.as_parent.all %}
                        { data: { source: '{{ parent_m.id }}', target: '{{ tree.child_id }}' } },
                      {% endfor %}
                  {% endfor %}
              ]
            },
            layout: {
              name: 'dagre',
              rankDir: 'TB',
              nodeDimensionsIncludeLabels: true
            },
            style: [
                {
                selector: 'node',
                style: {
                    'shape': 'rectangle', // квадратная форма
                    'content': 'data(label)',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'color': '#fff',
                    'font-size': '10px',
                    'font-weight': 'bold',
                    'background-color': '#11479e',
                    'width': '200px',
                    'height': '50px',
                    'border-width': '2px',
                    'border-color': '#fff',
                    'grabbable': 'false'
                }
              },
              {
                selector: 'edge',
                style: {
                  'curve-style': 'bezier',
                  'width': 3,
                  'target-arrow-shape': 'triangle',
                  'line-color': '#9dbaea',
                  'target-arrow-color': '#9dbaea'
                }
              },
            ]
          });

        cy.on('dbltap', 'node', function(evt) {
            const nodeData = evt.target.data();
            window.location.href = '/hr/mission/' + nodeData.id + '/update/';
        });
    </script>
{% endblock %}
