{% extends "hr/base.html" %}
{% load django_bootstrap5 %}
{% block title %}Список миссий{% endblock %}
{% block content %}
    <div class="m-3">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa fa-add"></i> Добавить миссию
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url 'mission-create' %}?type=t">Лекторий</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'mission-create' %}?type=r">Рекрутинг</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'mission-create' %}?type=c">Исследование</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'mission-create' %}?type=q">Симулятор</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'mission-create' %}?type=m">Квест</a>
                </li>
            </ul>
        </div>
        <table class="table table-bordered" id="example">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Ранг</th>
                    <th>Опыт</th>
                    <th>Мана</th>
                    <th>
                        Даёт
                        <br>
                        артефакты
                    </th>
                    <th>
                        Даёт
                        <br>
                        компетенции
                    </th>
                    <th>
                        Род.
                        <br>
                        миссии
                    </th>
                    <th>
                        Доч.
                        <br>
                        миссии
                    </th>
                    <th>Данные</th>
                    <th>Вып.</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for mission in object_list %}
                    <tr>
                        <td>{{ mission.name }}</td>
                        <td>{{ mission.mission_type }}</td>
                        <td>{{ mission.rank }}</td>
                        <td>{{ mission.experience }}</td>
                        <td>{{ mission.mana }}</td>
                        <td>
                            {% for prize in mission.prizes.all %}
                                <span>{{ prize }}</span>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for competence_level in mission.competence_level.all %}
                                {% if competence_level.level > 0 %}
                                    <span>{{ competence_level }}</span>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for tree in mission.as_child.all %}
                                <span>{{ tree.parent }}</span>
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            {% for tree in mission.as_parent.all %}
                                <span>{{ tree.child }}</span>
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ mission.type_data }}</td>
                        <td>{{ mission.users.count }}</td>
                        <td>
                            <a href="{% url 'mission-update' mission.id %}"
                               class="btn btn-secondary">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{% url 'mission-delete' mission.id %}" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
            $(document).ready(function() {
                new DataTable('#example', {
                    responsive: true,
                    language: {url: 'https://cdn.datatables.net/plug-ins/2.3.4/i18n/ru.json',},
                    columnDefs: [
                        {
                            responsivePriority: 1,
                            targets: [0, 1, 11]
                        },
                        {
                            responsivePriority: 100,
                            targets: [2, 3, 4,5,6,7,8,9,10]
                        },
                        {
                            targets: [0,1,2,3,4,10],
                            columnControl: {
                                target: 0,
                                className: 'dtcc-row_no-bottom-border',
                                content: [['orderAsc', 'orderDesc', 'spacer', 'searchList']]
                            }
                        },
                        {
                            targets: [5,6,7,8,9],
                            columnControl: {
                                target: 0,
                                className: 'dtcc-row_no-bottom-border',
                                content: [[ 'searchList']]
                            }
                        },
                        { width: '120px', targets: -1 }
                    ],
                    ordering: false,
                    paging: false,
                    searching: false,
                    info: false,
                });
        });
    </script>
{% endblock %}
