{% extends "game/base.html" %}
{% load django_bootstrap5 %}
{% block title %}{{ mission.name }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center mb-5 mt-5">Введите код для прохождения миссии</h3>
                {% bootstrap_messages %}
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form layout='vertical' %}
                    <button type="submit" class="btn btn-primary w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
