{% extends "game/base.html" %}
{% load user_logic %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <div id="cy"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

            boxSelectionEnabled: false, // Разрешаем выделение области
            autounselectify: false, // Разрешаем выделение элементов
            userPanningEnabled: false, // ОТКЛЮЧАЕМ перетаскивание графа
            userZoomingEnabled: false, // Оставляем zoom

            elements: {
              nodes: [
                  {% for m in object_list %}
                      { data: { id: '{{ m.id }}', label: '{{ m.name }}', class: '{{ m|get_mission_type:request.user }}' }, grabbable: false },
                  {% endfor %}
              ],
              edges: [
                  {% for parent_m in object_list %}
                      {% for tree in parent_m.as_parent.all %}
                        { data: { source: '{{ parent_m.id }}', target: '{{ tree.child_id }}' } },
                      {% endfor %}
                  {% endfor %}
              ]
            },
            layout: {
              name: 'dagre',
              rankDir: 'TB',
              nodeDimensionsIncludeLabels: true,
              padding: 5,
              spacingFactor: 0.8,
            },
            style: [
                {
                selector: 'node',
                style: {
                    'shape': 'star',
                    'content': 'data(label)',
                    'grabbable': 'false',
                    'background-color': '#00d1b2',
                    'border-color': '#00f5d4',
                    'border-width': 1,
                    'border-opacity': 0.8,
                    'width': '150',
                    'height': '150',
                    'color': '#ffffff',
                    'text-outline-width': 1,
                    'text-outline-color': '#000000',
                    'font-size': '20px',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'text-wrap': 'wrap',
                    'text-max-width': '150px',
                }
              },
            {
                selector: 'node[class = "compiled"]',
                style: {
                    'background-color': '#283a97',
                    'border-color': '#00aeef',
                }
            },
            {
                selector: 'node[class = "locked"]',
                style: {
                    'background-color': '#6b7280',
                    'border-color': '#9ca3af',
                    'opacity': 0.6
                }
            },
              {
                selector: 'edge',
                style: {
                    'width': 5,
                    'line-color': '#00aeef',
                    'target-arrow-color': '#00aeef',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier',
                    'opacity': 0.7
                }
              },
            ]
          });

        cy.on('dbltap', 'node', function(evt) {
            const nodeData = evt.target.data();
            if (nodeData.class === 'open'){
                window.location.href = '/missions/' + nodeData.id + '/';
            }
        });
    </script>
{% endblock %}
