{% extends 'game/base.html' %}
{% load type_logic %}
{% block title %}Ранги{% endblock %}
{% block content %}
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="me-2">Текущий ранг: <strong>{{ request.user.rank }}</strong></span>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="progress position-relative">
                    <div class="progress-bar bg-primary"
                         role="progressbar"
                         style="width: {{ request.user.experience|divide:next_rank.experience|multiple:100 }}%"></div>
                    <span class="position-absolute w-100 text-center">{{ request.user.experience }}/{{ next_rank.experience }}</span>
                </div>
            </div>
        </div>
        <div class="ranks-container">
            {% for rank in object_list %}
                <div class="card {% if request.user.rank == rank.id %}rank-card-open{% endif %}{% if request.user.rank > rank.id %}rank-card-compiled{% endif %}{% if request.user.rank < rank.id %}rank-card-locked{% endif %}"
                     id="rank-{{ rank.id }}">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <h5 class="card-title mb-0">Ранг {{ rank.id }}</h5>
                        </div>
                        <div class="mb-2">
                            <p class="rank-card-experience mb-0 {% if request.user.experience >= rank.experience %}viewed{% endif %}">
                                <i class="fa fa-scroll"></i> {{ rank.experience }}
                            </p>
                            {% for mission in rank.missions.all %}
                                <p class="rank-card-experience mb-0">
                                    <i class="fa fa-rocket"></i>
                                    {% if mission in request.user.missions.all %}
                                        <span class="viewed">{{ mission.name }}</span>
                                    {% else %}
                                        <span>{{ mission.name }}</span>
                                    {% endif %}
                                </p>
                            {% endfor %}
                            {% for cl in rank.competence_level.all %}
                                {% if cl.level > 0 %}
                                    <p class="rank-card-experience mb-0">
                                        <i class="fa fa-book"></i>
                                        <span class="{% if request.user.competence_level_map|get_item:cl.competence_id >= cl.level %}viewed{% endif %}">
                                            {{ cl }}
                                        </span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        // Функция для прокрутки при загрузке страницы
        function scrollToCurrentLevel() {
            const currentLevelElement = document.getElementById('rank-{{ request.user.rank }}');
            if (currentLevelElement) {
                currentLevelElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'center'
                });
            }
        }

        window.addEventListener('load', scrollToCurrentLevel);
    </script>
{% endblock %}
