{% extends "base.html" %}
{% load dict_filters %}
{% load django_bootstrap5 %}
{% block title %}
    {% if object %}
        Изменение
    {% else %}
        Создание
    {% endif %}
    миссии
{% endblock %}
{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="text-center">
                    {% if object %}
                        Изменение
                    {% else %}
                        Создание
                    {% endif %}
                    миссии
                </h3>
                {% bootstrap_messages %}
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form layout='vertical' %}
                    <!-- Даёт компетенции -->
                    <label class="form-label">Даёт компетенции</label>
                    {% for competence in competences %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="id_competence_level_{{ competence.id }}">{{ competence.name }}</span>
                            <input type="number"
                                   name="competence_level_{{ competence.id }}"
                                   class="form-control"
                                   value="{{ competence_level_map|get_item:competence.id|default_if_none:0 }}"
                                   aria-describedby="id_competence_level_{{ competence.id }}"
                                   required>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
