{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Граф миссий</h1>
                <div id="cy"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

            boxSelectionEnabled: false, // Разрешаем выделение области
            autounselectify: false, // Разрешаем выделение элементов
            userPanningEnabled: false, // ОТКЛЮЧАЕМ перетаскивание графа
            userZoomingEnabled: false, // Оставляем zoom

            elements: {
              nodes: [
                  {% for m in object_list %}
                      { data: { id: '{{ m.id }}', label: '{{ m.name }}' }, grabbable: false },
                  {% endfor %}
              ],
              edges: [
                  {% for parent_m in object_list %}
                      {% for tree in parent_m.as_parent.all %}
                        { data: { source: '{{ parent_m.id }}', target: '{{ tree.child_id }}' } },
                      {% endfor %}
                  {% endfor %}
              ]
            },
            layout: {
              name: 'dagre',
              rankDir: 'TB',
              nodeDimensionsIncludeLabels: true
            },
            style: [
                {
                selector: 'node',
                style: {
                    'shape': 'rectangle', // квадратная форма
                    'content': 'data(label)',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'color': '#fff',
                    'font-size': '10px',
                    'font-weight': 'bold',
                    'background-color': '#11479e',
                    'width': '200px',
                    'height': '50px',
                    'border-width': '2px',
                    'border-color': '#fff',
                    'grabbable': 'false'
                }
              },
              {
                selector: 'edge',
                style: {
                  'curve-style': 'bezier',
                  'width': 3,
                  'target-arrow-shape': 'triangle',
                  'line-color': '#9dbaea',
                  'target-arrow-color': '#9dbaea'
                }
              },
            ]
          });

        cy.on('dbltap', 'node', function(evt) {
            const nodeData = evt.target.data();
            window.location.href = '/mission/' + nodeData.id + '/update/'; // TODO
        });
    </script>
{% endblock %}
