{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
        <link href="{% static "styles/styles.css" %}" rel="stylesheet">
        <script src="{% static 'scripts/scripts.js' %}"></script>
    </head>
    <body>
        {% if not request.htmx or request.htmx.boosted %}<!-- TODO: навигация -->{% endif %}
        {% block content %}{% endblock %}
    </body>
    {% block scripts %}{% endblock %}
</html>
