.navbar-brand img {
    height: 40px;
}
.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#cy {
  width: 100%;
  height: 1000px;
}
.answer-block {
    transition: all 0.3s ease;
}
.remove-answer-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
